<style type="text/css">
<!--
html, body {height:100%}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;}

a {color:#FFF; text-decoration:none; border:none}

.tablefont {color:#193048; font-size:12px;}

div#prepod{color:#2c4867; font-size:12px;}

div#prepod a {color:#4D7199; text-decoration:none; border:none; font-size:12px;}

div#prepod li {margin:10px 0px}

div#bottomnav a {color:#385370}

a img {border:none}

a:hover {text-decoration:underline}

p {margin:10px 0px}

body {
	position:relative;
	background:transparent url(img/bg1.jpg);
	background-color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
	background-position: top;
	background-repeat:no-repeat;
	padding: 0 20px;
	height:100%;
}

div#top {min-width:750px; padding: 10px 0px; font-size:12px;}

div#self_link {float:left; margin:5px 10px;}

div#self_link a {color:#385370}

div#crumb {min-width:100px; float:left; margin-left:65px}

div#crumb img{margin-left:20px}

div#search {float:right; margin-top: -15px; margin-right:20px; min-width:300px}

div#search img{position: relative; left: 10px; top: 15px;}

div#wrapper {
	margin:0 auto;
	min-height:100%;
	position: relative;
	max-width:1200px;
}

* html #wrapper {
    height: 100%;
}

div#header {
	clear:both;
	position: relative;
	top:15px;
	left:5px;
	font-size:0.9em;
	max-width:1160px;
	min-width:950px;
	height:280px;
	background:url(img/attractor.png) no-repeat 100% 80%;

}

div#header img{margin-bottom:15px}

div#content {
	position: relative;
	top:5px;
	font-size:0.9em;
	max-width:1200px;
	min-width:980px;
	min-height:100%;
}

div#left {
	float:left;
	width:225px;
	color:#FFFFFF;
}

div#leftcap {height:3px; background:url(img/menuhead.png) no-repeat}


div#main {
	margin-left:250px;
	margin-right:250px;
	font-size:10px;
}

div#maindate {font-size:11px; margin:5px 0px 25px 0px; padding-left:10px; background:url(img/square6.gif) no-repeat left ;}

div#maindate img {margin:5px; vertical-align:middle; padding-bottom:2px}

div#novosti div#maindate img {margin:5px; vertical-align:middle; padding-bottom:2px; float:left}

div#pagination {border-bottom:1px dotted grey; text-align:center; border-top:1px dotted grey; font-size:12px; padding:10px}

div#bottomnav {margin-top:50px; font-size:12px; clear:right}

div#bottomnav a {line-height:150%; padding:0px 5px}

div#podval {background:url(img/bottom_bg.jpg) bottom left repeat-x; height:76px; clear:both; margin-left:-20px; padding-top:15px; width:103%}

div#podvalcprt {padding:25px 0px 0px 50px; color:#FFF; font-size:12px; float:left}

div#podvalcprt a {text-decoration:underline; margin-right:30px}

div#podvalbanner {padding:25px 0px 0px 0px; float:right}

div#podvalbanner img {margin-right:20px}

div#right {
	float:right;
	width:225px;
	height:1360px;
}

div#right img {
	border: solid 3px #98a8b9;
	margin-bottom:10px;
}

div#right a {
	color:#2c4867;
	text-decoration:underline;
	font-size:12px;
}

div#rightcap {background:url(img/right_head.gif) top no-repeat; height:7px}

div#rightmenu {background-color:#e4f0fc; padding:5px 10px 10px 12px; height:100%}

div#rightdate {font-size:11px; margin:5px 0px; padding-left:10px; background:url(img/square6.gif) no-repeat left }


div#rightcut {border-top:dotted 1px grey}

div#rightcut img {border:none; margin:5px; vertical-align:middle; padding-bottom:2px}

div#rightbottomcap {background:url(img/right_bottom.gif) top no-repeat; height:7px}

div#menuheader {
	background:url(img/menuhead_bg.png) top no-repeat #325071;
	padding: 5px 0px 3px 25px;
	font-size:13px;
	}

div#menu {
	border-left:solid 7px #446993;
	background-color:#6a89ac;
	border-bottom:7px solid #446993;
}

div#leftbottomcap {height:3px; background:url(img/menubottom.png) bottom no-repeat}

div#menu ul{
	list-style:none;
	padding:5px 0px 5px 15px;
	width:190px;
	font-size:12px;
}

div#menu ul li{

	line-height:160%;
	list-style:none;
	border-bottom:dotted 1px #b8c7d7;
}

div#menu li ul{
	list-style:none;
	padding:0px 0px 0px 20px;
	margin:0;
	border:none;
}

div#menu li ul li{border:none; list-style-image:url(img/square.gif)}

ul {
	padding-left:10px;
	vertical-align:middle;
}

ul.list {
	padding-left:30px;
	vertical-align:middle;
	padding-top:5px;
	list-style:square;

}

ul.list li {
	padding-bottom:12px;
}

ul.sublist {
	padding-left:40px;
	vertical-align:middle;
	padding-top:10px;
	list-style:square;

}

ul.sublist li {
	padding-bottom:7px;
}


div#header ul li {
	color:#00295c;
	list-style-image: url(img/triangle.gif);
	line-height:180%;
	vertical-align:middle;
	}
div#header ul li a {
	color:#00295c;
	margin-left: -3px;
}

div#menu ul#submenu {width:175px; background-color:#4d7199; padding-left:43px }

div#menu ul#submenu li {border-bottom:none; list-style-image:url(img/square.gif);}

div#menu ul#submenu li a {margin-left: -3px}

h1 { font-size:20px; font-weight:normal; color:#193048; margin-bottom:10px}

h2 {padding:5px 0px 5px 10px; color:#FFF; text-decoration:underline; background-color:#5a86b8; font-size:13px; margin-bottom:10px}

.news {font-size:12px; text-align:justify}
.news img {border: solid 3px #6a89ac}
.news a{color:#2C4867; text-decoration:underline}

.fnews {font-size:12px; text-align:justify; padding-top:10px}
div#novosti .fnews img {float:left; clear:none; border: solid 3px #6a89ac; margin:5px}
table.fnews {margin-bottom:20px; width:100%}
div.fnews p {padding: 0px 0px}

.labs {max-width:860px; font-size:12px; margin-bottom:20px; color:#2c4867; text-align:justify; padding:280px 20px 0 0;}
.labs a{color:blue;}

.newsblock {font-size:12px; margin-bottom:20px; color:#2c4867; text-align:justify;}

.newsblock li {list-style-position:inside; list-style-type:square}

div.newsblock img {border: solid 2px grey; float:left; margin-right:10px}


center img {margin: 0px 5px 0px 5px}
center a {color:#2c4867; text-decoration:underline; padding:2px}

.current {background:#5a86b8;
color:#FFFFFF !important;
text-decoration:none;
padding: 2px 5px}

.pages { padding:2px 5px; color:#333	}

#find {border:solid 1px #85a1be; background-color:#FFF; width:230px; padding:2px}

div#novosti { margin-left:250px; font-size:12px; font-family:Arial, Helvetica, sans-serif }
div#novosti img { float:right; margin:0px 0px 10px 15px; clear:right}
div#novosti a {color:#4D7199;}
div#novosti h2 a {color:#FFF;}
div#novosti h2 { text-decoration:none}
div#nagrady {margin-left:250px; font-size:12px; text-align:justify}
div#nagrady img {float:left; margin:0px 10px 10px 0px; clear:none}
div#frame { background:url(img/foto_bg.png) no-repeat; height:263px; width:198px; padding:3px; float:left}
div#prepod {margin-left:250px; min-width:730px; padding-right:10px}
div#pressa {margin-left:250px; min-width:730px; padding-right:10px; line-height: 1.5}
div#pressa p {padding-bottom:10px;}
div#pressa img {margin-bottom:10px}

ul#read_also {
	padding-left:30px;
	list-style-image:url(img/read_also_list_image.png);
	padding-bottom:10px;
}

ul#read_also li{
	padding-bottom:3px;
}

ul#read_also a:link {
	text-decoration:underline !important;
}

div#pressa a:link {color:#4D7199; text-decoration: underline; border:none}
div#pressa a:hover {color:#cc0000;}
div#pressa a:visited {color:#9c3498;}
div#history {margin-left:250px; min-width:730px; padding-right:10px}
div#history img {margin-bottom:10px}
div#history a {color:#4D7199; text-decoration:none; border:none}
div#history ul {padding-left:40px; padding-bottom:20px}
div#history ul li { list-style-type:square;}
div#faq {margin-left:250px; min-width:730px; padding-right:10px}
div#faq a {color:#4D7199; text-decoration:none; border:none}
div#faq td {padding:10px}
div#prepodcut {margin-bottom:15px; max-width:840px; border-bottom:1px dotted grey; text-align:center; border-top:1px dotted grey; font-size:12px; padding:10px; margin-right:20px; width:auto}
div#prepodcut b {color:#2c4867}
div.frame_ {background:url(img/prep_bg.png) no-repeat; width:70%; height:263px; float:left}
div.frame_ div{margin-top:-10px; width:100%; height:100%; background:url(img/prep_bg_r.png) no-repeat top right;}
div.frame_ div p{text-align:center; font-size:13px; color:#2c4867; padding-top:20px; font-weight:bold; line-height:130% }
div.frame_  center { font-size:28px; color:#2c4867; text-align:center; text-shadow:#FFF 2px 2px 2px}
div#newsdate {text-align:right; float:right; margin-right:10px; padding-left: 10px; background:url(img/square_w.gif) no-repeat left; color:#FFF; font-size:13px;; text-decoration:none; font-weight:bold; padding-top:0px;}
div#newsdate img {float:left; border:none; margin:0px; vertical-align:middle; padding-bottom:2px;}
a#fotolink {padding-left: 12px; background:url(img/square6.gif) no-repeat left; color:#2c4867; font-weight:bold; font-size:12px}
a#podrob {float:left; color:#2c4867}
div#faq {font-size:0.9em;}
div#faq td {padding:10px;}

.newsblock a{color:#4D7199}

div#pressa {
	font-size:0.9em;
	color:#2c4867;
	}

div#pressa a {
	color:#4D7199;
	text-decoration:none;
}

div#diplom td{
	vertical-align:top;
	text-align:left;
	padding-right:5px;
}

div#diplom img{
	border:solid;
	border-color:#CCC;
	border-width:1px;
}

div#diplom a{
	color:#4D7199;
	text-decoration:underline;
}

div#history {font-size:0.9em;}

img.bimg {
	float:left;
	margin-top: 0;
	margin-left:0;
	margin-right:20px;
	margin-bottom:20px;
}

ul.funny_arrows li{
	list-style:none;
	display:inline;
}

ul.funny_arrows img{
	position:relative;
	top:10px;
}

div#naukaschools {font-size:0.9em;}
div#naukaschools ul{
	padding-bottom:10px;
	margin-bottom: 10px;
	padding-right:10px;
}

.prepod_list {
	min-height:150px;
	height:150px;
	color:#2c4867;
	font-size:12px;
	color:#2c4867;
}

.prepod_list img {
    float:left;
	margin-right:10px;
	margin-bottom:10px;
}

div.back_links{
	width:500px;
	text-align:left;
	border-left-style:solid;
	border-left-color:#FFF;
	border-left-width:220px;
	padding-left:30px;
}

div.back_links a {
	color:#2c4867;
	font-size:12px;
}

div.epigraph {
	font-style:italic;
	font-size:16px;
	border:#CCC;
	border-width:1px;
	border-style:solid;
	padding:10px;
	background-image:url(/images/white-linen-paper-texture_1.jpg);
	line-height:1.4;
}

div.epigraph em {
	font-size:12px;
}

.btn-cmp, .btn-cmp:hover, .btn-cmp:active
{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 2);
	background-color: #6a89ac;
	width: 25%;
}

.btn-cmp
{
	background-repeat: repeat-x;
	background-image: linear-gradient(top, #00FFFF 0%, #FFFF00 100%);
}

.btn-cmp:hover
{
	background-position: 0 -10px;
}

.table-component-header, .table-component-header:hover
{
	text-align: center;
	font-weight: bolder;
}
.table-component-header:hover {
	background-color: #f5f5f5;
}

.table-component-main
{
	vertical-align: middle;
	text-align: center;
	width: 10%;
	height: 10%;
}
.table td {
	vertical-align: middle;
	text-align: center;
	width: 10%;
	height: 10%;
}



.table-component-main:hover {
	background-color: #f5f5f5;
}


.caption
{
	caption-side: top;
	text-align: center;
	color: #000000;
	word-spacing: 1px;
	font-weight: normal;
	font-size: large;
	font-family: Arial, sans-serif;
}

.bro {
	padding: 5px;
}

.panel-title {
	padding-left: 5px;
}

.naves, .naves:hover, .naves.active {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 2);
	background-color: #446993;
	width: 137.5%;
	margin: 10px;
	border-radius: 10px;
	height: 100%;
	font-size: large;
	font-family: Arial, sans-serif;
}

.myButton {
	box-shadow: 4px 15px 14px -7px #446992;
	background:linear-gradient(to bottom, #446992 5%, #6a89ac 100%);
	background-color:#599bb3;
	border-radius:19px;
	border:1px solid #446992;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:120%;
	width: 30%;
	height: 25%;
	font-weight:bold;
	margin: 5px auto 5px 5px;
	padding:10px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #4a6280 5%, #3c5478 100%);
	background-color: #4b6686;
}
.myButton:active {
	position:relative;
	top:1px;
}


.table_download {
	width: 50%;
	margin: auto;
	text-align: center;
}

.down {
	box-shadow: 3px 6px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:19px;
	border:2px solid #599bb3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-style:italic;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 4px 0px #3d768a;
}
.down:hover {
	background:linear-gradient(to bottom, #3d768a 5%, #599bb3 100%);
	background-color:#408c99;
}
.down:active {
	position:relative;
	top:1px;
}


</style>
